In [1]:
import pandas as pd 
import numpy as np 
import requests
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
water = pd.read_csv(r"C:\Users\blang\Desktop\data\Water_FINAL.csv", low_memory=False)

In [11]:
water.head(3)

,Unnamed: 0,Unnamed: 0.1,Agency,BiasPC,CloudCover,Comments,Cruise,Database,Date,FieldActivityEventType,...,Weather Conditions Yesterday,WindDirection,WindSpeed,state,Point,HUC12_,HUCNAME_,FIPS_,COUNTY_,STATE_
0,0,2143,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,W,1-10 knots,MD,POINT (-75.93002800000002 39.480194),20600020206,Bohemia River,24015,Cecil County,MD
1,1,2145,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,W,1-10 knots,MD,POINT (-75.902528 39.480444),20600020206,Bohemia River,24015,Cecil County,MD
2,2,2147,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,S,1-10 knots,MD,POINT (-75.873639 39.466889),20600020206,Bohemia River,24015,Cecil County,MD

In [12]:
water.shape

(2708717, 73)

In [7]:
water.describe()

,Unnamed: 0,Unnamed: 0.1,FieldActivityRemark,GaugeHeight,HUC12,Latitude,Longitude,LowerPycnocline,MeasureValue,PrecisionPC,Pressure,SampleDepth,SampleId,TotalDepth,UpperPycnocline,HUC12_,FIPS_
count,2.708717e+06,2.708717e+06,0.0,99773.000000,2.444456e+06,2.708717e+06,2.708717e+06,424435.000000,2.708717e+06,0.0,74079.000000,2.704881e+06,2.708717e+06,2.105652e+06,424435.000000,2.708717e+06,2.708717e+06
mean,1.354358e+06,2.214989e+06,NaN,10.861847,2.070009e+10,3.843319e+01,-7.658405e+01,11.318739,1.490216e+01,NaN,754.894667,4.147473e+00,2.044871e+05,1.149991e+01,6.650813,2.069454e+10,3.578554e+04
std,7.819394e+05,1.525271e+06,NaN,353.141177,9.915505e+07,1.000394e+00,6.551539e-01,5.302668,7.579417e+01,NaN,28.707134,5.776304e+00,1.856555e+05,9.183738e+00,3.276481,1.031873e+08,1.344905e+04
min,0.000000e+00,0.000000e+00,NaN,-0.290000,2.040303e+10,3.674004e+01,-8.043708e+01,0.700000,-1.400000e+01,NaN,1.000000,-1.000000e-01,1.000000e+00,0.000000e+00,0.000000,2.040303e+10,1.000100e+04
25%,6.771790e+05,8.509090e+05,NaN,2.210000,2.060002e+10,3.763189e+01,-7.686761e+01,7.000000,1.000400e+00,NaN,751.000000,5.000000e-01,3.035200e+04,3.700000e+00,4.500000,2.060002e+10,2.401900e+04
50%,1.354358e+06,2.185441e+06,NaN,3.210000,2.070011e+10,3.839600e+01,-7.640131e+01,10.500000,7.700000e+00,NaN,758.000000,1.250000e+00,1.070730e+05,1.000000e+01,6.500000,2.070010e+10,2.404100e+04
75%,2.031537e+06,3.530615e+06,NaN,5.190000,2.080105e+10,3.899748e+01,-7.617466e+01,14.500000,1.333000e+01,NaN,763.000000,6.000000e+00,4.139770e+05,1.600000e+01,8.500000,2.080105e+10,5.110100e+04
max,2.708716e+06,4.897264e+06,NaN,35500.000000,2.080208e+10,4.280672e+01,-7.483524e+01,30.500000,2.977700e+04,NaN,787.000000,3.600000e+01,4.620910e+05,1.530000e+02,21.500000,2.080208e+10,5.407100e+04

In [8]:
water.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Agency           264261
BiasPC          2708662
CloudCover       476847
                 ...
HUC12_                0
HUCNAME_              0
FIPS_                 0
COUNTY_               0
STATE_                0
Length: 73, dtype: int64